
@{
    ViewBag.Title = "CargaCatalogo";
}

<h2>Carga Catalogo</h2>
@using (Html.BeginForm("CargaCatalogo", "Proyecto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.TextBox("file", "", new { type = "file" }) <br />

    <input type="submit" value="Subir" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


